body {
    background-color:lightgray;
       }
   .row {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding: 0 4px;
   }
   .column {
     flex: 25%;
     justify-content: center;
     max-width: 25%;
     padding: 0 4px;
   }
   
   .column img {
     margin-top: 8px;
     vertical-align: middle;
     width: 100%;
   }
   
   /* Responsive layout - makes a two column-layout instead of four columns */
   @media screen and (max-width: 800px) {
     .column {
       flex: 50%;
       max-width: 50%;
     }
   }
   
   
   @media screen and (max-width: 600px) {
     .column {
       flex: 100%;
       max-width: 100%;
     }
   }
   #title {
       display: flex;
       justify-content: center;
   }
   #tribute-info {
       font-size: 20px;
       font-family:Arial, Helvetica, sans-serif;
       display: flex;
       justify-content: center;
   }
   #img-caption {
       display: flex;
       justify-content: space-evenly;
       background-position: center;
       text-align: center;,
       font-size: 30px;
       font-family:Arial, Helvetica, sans-serif;
   
   }
   #logo {
       max-width: 100%;
       height: auto;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       
   #image {
     display: block;
     max-width: 100%;
     height: auto;
     marjin: auto;
     width: 100%;
}
       
         
      
   
   }
   #tribute-link {
       display: flex;
       justify-content: center;
       text-align: center;
       color:brown;
       font-weight: bold;
   
   }
   nav {
       width:100%;
       height: auto;
       background:transparent;
       overflow: hidden;
      
       display: flex;
       justify-content: flex-start;
       max-width: 100%;
       text-align:center;
       visibility: visible;
       
     
   
   }
   
   nav li{
       
       margin: 0 8px;
       padding-top: 1px;
       max-width: 100%;
       height: auto;
       justify-content: space-evenly;
       
       
       
   }
   
   ul {
     list-style-type: none;
     margin: 0 0 0 150px;
     padding: 0;
     overflow: hidden;
     background-color: #333333;
     text-align: center;
     display:inline-block;
     vertical-align:top;
     
   }
   
   li {
     float:left;
     
   }
   
   
   nav li a {
     display: block;
     color: white;
     text-align: center;
     padding: 16px;
     text-decoration:none;
   }
   
   li a:hover {
     background-color: #111111;
   }
 
  
   
